/*  Design
=======================================================================================
	Put all your layout and design related styles here.
==================================================================================== */

/* Essentials
------------------------------------------------------------------------------------ */
*:last-child { margin-bottom: 0; }
html { 
	background: $crunchy-color; }

a { text-decoration: underline; }

button {
	font-family: 'proxima-nova', sans-serif; 
	
	margin: 0 auto; padding: .5em 2em; 
	border-radius: .25em; 

	i { 
		display: inline-block; 
		
		&:first-child { margin-right: .5em; margin-left: -.25em; } 
		&:last-child { margin-right: -.25em; margin-left: .5em; } } }


/* Helpers
------------------------------------------------------------------------------------ */

.kern-1 { letter-spacing: -.03125em; }
.kern-3 { letter-spacing: -.06250em; }

@keyframes spin {
	0% { transform: rotate(0deg);   }
	100% { transform: rotate(359deg); } }
	// animation: spin 12s infinite linear;  

@keyframes unspin {
	0% { transform: rotate(0deg);   }
	100% { transform: rotate(-359deg); } }
	// animation: unspin 1s infinite linear;

// Fancybox + Fontawesome
body .fancybox-close {

	color: #999;
	background-image: none; 
	box-shadow: none;
	
	position: absolute; z-index: 8040;
	
	top: 6px; right: 6px;
	width: 18px; height: 18px;
	font-size: 18px;
	text-align: center; vertical-align: middle;

	cursor: pointer;
}

/* Megatron
------------------------------------------------------------------------------------ */
.megatron { 
	color: #EBEBEB; 
	padding: 2rem 1rem;
	text-align:center;

	// Absolute Centering
	max-width: 360px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	text-shadow: -.125em -.125em .25em darken($crunchy-color, 5%);

	h1 { 
		@include rem('font-size', 60px);
		line-height: .825em;
		font-weight: 900; 

		margin: 0 0 24px; 

		.the-web {
			color: $crunchy-color-dark; } }

	h2 {
		margin: 0 0 24px; 

		@include rem('font-size', 36px);
		line-height: 1em; 
		font-weight: 100; 
		letter-spacing: -.03125em; }

	.button { 
		$button-bg-color: $crunchy-color-dark;
		background: $button-bg-color; 

		border: none;
		color: #FBFBFB; 
		text-shadow: none;

		font-size: 16px;
		line-height: 1em;
		font-weight: 700;

		&:hover {
			background: darken($button-bg-color, 2.5%); }

		&:active {
			background: lighten($button-bg-color, 2.5%); }

		// Presable button - 3D effect
		&.press-me {
			position: relative;
			box-shadow: 0 6px darken($button-bg-color, 20%); 
			@include transition(all, .1s, ease);

			&:hover { 
				top: 2px;
				box-shadow: 0 4px darken($button-bg-color, 25%); } 

			&:active { 
				top: 4px;
				box-shadow: 0 2px darken($button-bg-color, 10%); } } } }

footer { 
	position: absolute; 
	bottom: 1em; right: 1em; 

	p,
	a { color: rgba(100%,100%,100%,.25); } 

	a:hover { color: rgba(100%,100%,100%,.75); } }

/* Contact Form
------------------------------------------------------------------------------------ */
form.contact {
	margin: 0; padding: 0;

	button {
		display: block; float:right;

		border: none;
		color: #EBEBEB;
		background: $crunchy-color-dark;

		font-weight: 100;
		text-transform: uppercase; 
		@include rem('font-size', 12px); } }
