/*  Design
=======================================================================================
	Put all your layout and design related styles here.
==================================================================================== */

/* Essentials
------------------------------------------------------------------------------------ */
$crunchy-color: #F0750F;
$crunchy-color-dark: #242424;

html { 
	background: $crunchy-color; }
	
	// -webkit-background-size: 60px 60px;
	//    -moz-background-size: 60px 60px;
	//         background-size: 60px 60px;

	// background-color: $crunchy-color;
	// background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	// background-image:    -moz-linear-gradient(-45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	// background-image:     -ms-linear-gradient(-45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	// background-image:      -o-linear-gradient(-45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	// background-image:         linear-gradient(-45deg, rgba(255, 255, 255, .05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));

/* Helpers
------------------------------------------------------------------------------------ */

.kern-1 { letter-spacing: -.03125em; }
.kern-3 { letter-spacing: -.06250em; }

/* Animated rotating icon */
.icon-spin {
	display: inline-block;
	-webkit-animation: spin 2s infinite linear;
	   -moz-animation: spin 2s infinite linear;
	     -o-animation: spin 2s infinite linear;
	        animation: spin 2s infinite linear;
}
/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
	display: inline-block;
	text-decoration: none; }

@-webkit-keyframes spin {
	0% {   -webkit-transform: rotate(0deg);   }
	100% { -webkit-transform: rotate(359deg); } }
@-moz-keyframes spin {
	0% {      -moz-transform: rotate(0deg);   }
	100% {    -moz-transform: rotate(359deg); } }
@-ms-keyframes spin {
	0% {       -ms-transform: rotate(0deg);   }
	100% {     -ms-transform: rotate(359deg); } }
@-o-keyframes spin {
	0% {        -o-transform: rotate(0deg);   }
	100% { 	    -o-transform: rotate(359deg); } }
@keyframes spin {
	0% {           transform: rotate(0deg);   }
	100% {         transform: rotate(359deg); } }

@-webkit-keyframes unspin {
	0% {   -webkit-transform: rotate(0deg);   }
	100% { -webkit-transform: rotate(-359deg); } }
@-moz-keyframes unspin {
	0% {      -moz-transform: rotate(0deg);   }
	100% {    -moz-transform: rotate(-359deg); } }
@-ms-keyframes unspin {
	0% {       -ms-transform: rotate(0deg);   }
	100% {     -ms-transform: rotate(-359deg); } }
@-o-keyframes unspin {
	0% {        -o-transform: rotate(0deg);   }
	100% { 	    -o-transform: rotate(-359deg); } }
@keyframes unspin {
	0% {           transform: rotate(0deg);   }
	100% {         transform: rotate(-359deg); } }


/* Megatron
------------------------------------------------------------------------------------ */
.megatron { 
	color: #EBEBEB; 
	padding: 2rem 1rem;
	text-align:center;

	// Absolute Centering
	max-width: 360px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	text-shadow: -.125em -.125em .25em darken($crunchy-color, 5%);

	h1 { 
		@include rem('font-size', 60px);
		line-height: .825em;
		font-weight: 900; 

		color: #EBEBEB; 

		margin: 0 0 24px; 

		.the-web {
			color: $crunchy-color-dark; } }

	h2 {
		@include rem('font-size', 36px);
		line-height: 1em; 
		font-weight: 100; 

		margin: 0 0 24px; }

	.button { 
		$button-bg-color: $crunchy-color-dark;
		background: $button-bg-color; 

		color: #FBFBFB; 

		font-size: 18px;
		line-height: 1em;
		font-weight: 700;

		display: block; 
		width: 50%; min-width: 120px; max-width: 240px;
		text-shadow: none;

		cursor: pointer;

		i { margin-right: .5em; margin-left: -.25em; 
			display: inline-block;
			-webkit-animation: spin 12s infinite linear;
			   -moz-animation: spin 12s infinite linear;
			     -o-animation: spin 12s infinite linear;
			        animation: spin 12s infinite linear; } 

		&:hover {
			background: darken($button-bg-color, 2.5%);

			i { 
				display: inline-block;
				-webkit-animation: unspin 1s infinite linear;
				   -moz-animation: unspin 1s infinite linear;
				     -o-animation: unspin 1s infinite linear;
				        animation: unspin 1s infinite linear; } }

		&:active {
			background: lighten($button-bg-color, 2.5%); }

		// Presable button - 3D effect
		&.press-me {
			position: relative;
			box-shadow: 0 6px darken($button-bg-color, 20%); 
			@include transition(all, .1s, ease);

			&:hover { 
				top: 2px;
				box-shadow: 0 4px darken($button-bg-color, 25%); } 

			&:active { 
				top: 4px;
				box-shadow: 0 2px darken($button-bg-color, 10%); } } } }


@media only screen and (min-width: 720px) {
	.mobile-only { display: none; }
	.megatron { 
		width: 80%; min-width: 720px; max-width: 1200px; 
		padding: 2rem; 

		h1 { @include rem('font-size', 96px); } 
		h2 { @include rem('font-size', 72px); line-height: .9375em; } 
		.button { @include rem('font-size', 24px); } }
}


button,
.button {
	margin: 0 auto; padding: .5em 2em; 
	border-radius: .25em; 

	i { 
		margin-right: .5em; margin-left: -.25em; 
		display: inline-block; } }

form {

	&.contact {
		padding: 0;
		margin-bottom: 0; }

	button {
	display: block; float:right;
	color: #EBEBEB;
	background: $crunchy-color-dark;
	border: none;
	text-transform: uppercase; 
	@include rem('font-size', 12px);
	font-family: 'proxima-nova', sans-serif;
	font-weight: 100; } }