/*  Browse Happy
------------------------------------------------------------------------------ */
// Plugins 
.browsehappy { 
	margin: 0; padding: 0.5em 1em; 
	background: #DADADA; color: #242424; 

	a { color: $crunchy-color; font-weight: 600; } }