/*	==========================================================================
	Media Queries for Responsive Design.
	These examples override the primary ('mobile first') styles.
	Modify as content requires.
========================================================================== */

@media only screen and (min-width: 720px) {
	.mobile-only { display: none; }
	.megatron { 
		width: 80%; min-width: 720px; max-width: 1200px; 
		padding: 2rem; 

		h1 { @include rem('font-size', 96px); } 
		h2 { @include rem('font-size', 72px); line-height: .9375em; } 
		.button { @include rem('font-size', 24px); } }
}

@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
	// Style adjustments for high resolution devices
}